# Pandas - Basic Examples

In [ ]:
import pandas as pd

In [ ]:
# Create Series and DataFrame

In [ ]:
s = pd.Series([10, 20, 30])
df = pd.DataFrame({'Name': ['Ali', 'Sara', 'Ahmed'], 'Marks': [85, 92, 78]})
print(df)

In [ ]:
# Read and Write CSV

In [ ]:
# df = pd.read_csv('sample.csv')
# df.to_csv('output.csv', index=False)

In [ ]:
# Select Rows and Columns

In [ ]:
print(df['Marks'])
print(df.loc[0])
print(df.iloc[1])

In [ ]:
# Filter Data

In [ ]:
print(df[df['Marks'] > 80])

In [ ]:
# Describe, Info, Shape

In [ ]:
print(df.describe())
print(df.info())
print(df.shape)

In [ ]:
# Group By

In [ ]:
data = pd.DataFrame({'Class': ['A', 'A', 'B', 'B'], 'Score': [85, 90, 78, 82]})
print(data.groupby('Class')['Score'].mean())

In [ ]:
# Handling Missing Data

In [ ]:
df = pd.DataFrame({'Name': ['Ali', 'Sara', None], 'Score': [90, None, 85]})
print(df.fillna('Unknown'))
print(df.dropna())

In [ ]:
# Sorting

In [ ]:
df = pd.DataFrame({'Name': ['Ali', 'Sara', 'Ahmed'], 'Score': [85, 92, 78]})
print(df.sort_values(by='Score'))

In [ ]:
# Merging DataFrames

In [ ]:
a = pd.DataFrame({'ID': [1, 2], 'Name': ['Ali', 'Sara']})
b = pd.DataFrame({'ID': [1, 2], 'Marks': [90, 95]})
merged = pd.merge(a, b, on='ID')
print(merged)

In [ ]:
# Working with Dates

In [ ]:
df = pd.DataFrame({'Date': ['2024-01-01', '2024-02-15']})
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'].dt.month)